{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="projects">
    <h2 class="title">Projects</h2>
    {% for p in projects %}
        <div class="project">
            <span>
                {% assign links = p.links %}
                {% if links.size != 0 %}
                    <span class="project-link">
                        {{p.title}}
                    </span>

                    {% for l in links %}
                        <a class="project-link" href="{{l.link}}">
                            {{l.title}}
                        </a>

                        {% if links.last != l %}
                            ,
                        {% endif %}
                    {% endfor %}
                {% else %}
                  <a class="project-link" href="{{p.link}}">
                    {{p.title}}
                  </a>
                {% endif %}
            </span>
            <span class="details">- {{p.details}}</span>
        </div>
    {% endfor %}
</section>
{% endif %}