.speaks {
  .title {
    @include header;
  }
  .speak-items {
    .speak-item {
      display: inline-block;
      margin-bottom: 20px;
      margin-right: 10px;

      .speak-title {
        a {
          text-decoration: none;
          font-weight: bold;
          @include body-text;
        }
      }
      .authors {
        @include body-text;
      }
      .conference {
        @include body-text;
        color: var(--fg-color-title-sm);
        font-weight: 100;
      }
    }
  }
}